@keyframes slide-right {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}

@keyframes slide-left {
  0% {
    left: -100%;
  }
  100% {
    left: 100%
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

