@import "animations";
@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}


.main-container {
  height: 100vh;
  background-image: $black-scream, url("../assets/city_bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.profile-image {
  object-fit: cover;
  height: 90vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.text-name, .text-position {
  width: 100%;
  position: absolute;
  font-size: $text-big;
  color: white;
  user-select: none;
}

.text-name {
  animation: slide-right 12s linear infinite;
  left: 100%;
  top: 200px;
}

.text-position {
  animation: slide-left 12s linear infinite;
  left: -100%;
  top: 300px;
  text-align: end;
}

.text-name-1, .text-position-1 {
  animation-delay: 0s;
}

.text-name-2, .text-position-2 {
  animation-delay: 6s;
}

@media only screen and (max-width: 600px) {
  .text-name, .text-position {
    font-size: $text-small;
  }
}

// Scrollbar
body {
  &::-webkit-scrollbar {
    width: 1em;
    background-color: $background-color;
  }

  &::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(0deg, $primary-color, $primary-accent-color);
    border: solid $background-color 4px;
  }
}
